[submodule "markdown-to-html"]
	path = markdown-to-html
	url = https://github.com/Akahara/markdown-to-html
[submodule "documentation"]
	path = documentation
	url = https://github.com/Akahara/documentation
[submodule "documentation_source"]
	path = documentation_source
	url = https://github.com/Akahara/documentation
